{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 150,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "bracketSameLine": false,
  "object-curly-newline": {
    "multiline": true,
    "minProperties": 3
  }
}